appnope==0.1.0
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
bleach==2.1.2
certifi==2018.1.18
configparser==3.5.0
decorator==4.2.1
entrypoints==0.2.3
enum34==1.1.6
functools32==3.2.3.post2
gntp==1.0.3
html5lib==1.0.1
ipykernel==4.8.2
ipython==5.5.0
ipython-genutils==0.2.0
ipywidgets==7.1.2
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.2
jupyter-console==5.2.0
jupyter-core==4.4.0
MarkupSafe==1.0
mistune==0.8.3
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.4.0
pandocfilters==1.4.2
pathlib2==2.3.0
pexpect==4.4.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
pyobjc==4.1
pyobjc-core==4.1
pyobjc-framework-Accounts==4.1
pyobjc-framework-AddressBook==4.1
pyobjc-framework-AppleScriptKit==4.1
pyobjc-framework-AppleScriptObjC==4.1
pyobjc-framework-ApplicationServices==4.1
pyobjc-framework-Automator==4.1
pyobjc-framework-AVFoundation==4.1
pyobjc-framework-AVKit==4.1
pyobjc-framework-CalendarStore==4.1
pyobjc-framework-CFNetwork==4.1
pyobjc-framework-CloudKit==4.1
pyobjc-framework-Cocoa==4.1
pyobjc-framework-Collaboration==4.1
pyobjc-framework-Contacts==4.1
pyobjc-framework-ContactsUI==4.1
pyobjc-framework-CoreBluetooth==4.1
pyobjc-framework-CoreData==4.1
pyobjc-framework-CoreLocation==4.1
pyobjc-framework-CoreServices==4.1
pyobjc-framework-CoreText==4.1
pyobjc-framework-CoreWLAN==4.1
pyobjc-framework-CryptoTokenKit==4.1
pyobjc-framework-DictionaryServices==4.1
pyobjc-framework-DiskArbitration==4.1
pyobjc-framework-EventKit==4.1
pyobjc-framework-ExceptionHandling==4.1
pyobjc-framework-FinderSync==4.1
pyobjc-framework-FSEvents==4.1
pyobjc-framework-GameCenter==4.1
pyobjc-framework-GameController==4.1
pyobjc-framework-GameKit==4.1
pyobjc-framework-GameplayKit==4.1
pyobjc-framework-ImageCaptureCore==4.1
pyobjc-framework-IMServicePlugIn==4.1
pyobjc-framework-InputMethodKit==4.1
pyobjc-framework-InstallerPlugins==4.1
pyobjc-framework-InstantMessage==4.1
pyobjc-framework-Intents==4.1
pyobjc-framework-IOSurface==4.1
pyobjc-framework-iTunesLibrary==4.1
pyobjc-framework-LatentSemanticMapping==4.1
pyobjc-framework-LaunchServices==4.1
pyobjc-framework-libdispatch==4.1
pyobjc-framework-LocalAuthentication==4.1
pyobjc-framework-MapKit==4.1
pyobjc-framework-MediaAccessibility==4.1
pyobjc-framework-MediaLibrary==4.1
pyobjc-framework-MediaPlayer==4.1
pyobjc-framework-ModelIO==4.1
pyobjc-framework-MultipeerConnectivity==4.1
pyobjc-framework-NetFS==4.1
pyobjc-framework-NetworkExtension==4.1
pyobjc-framework-NotificationCenter==4.1
pyobjc-framework-OpenDirectory==4.1
pyobjc-framework-Photos==4.1
pyobjc-framework-PhotosUI==4.1
pyobjc-framework-PreferencePanes==4.1
pyobjc-framework-PubSub==4.1
pyobjc-framework-QTKit==4.1
pyobjc-framework-Quartz==4.1
pyobjc-framework-SafariServices==4.1
pyobjc-framework-SceneKit==4.1
pyobjc-framework-ScreenSaver==4.1
pyobjc-framework-ScriptingBridge==4.1
pyobjc-framework-SearchKit==4.1
pyobjc-framework-Security==4.1
pyobjc-framework-SecurityFoundation==4.1
pyobjc-framework-SecurityInterface==4.1
pyobjc-framework-ServiceManagement==4.1
pyobjc-framework-Social==4.1
pyobjc-framework-SpriteKit==4.1
pyobjc-framework-StoreKit==4.1
pyobjc-framework-SyncServices==4.1
pyobjc-framework-SystemConfiguration==4.1
pyobjc-framework-WebKit==4.1
python-dateutil==2.6.1
pyzmq==17.0.0
qtconsole==4.3.1
scandir==1.7
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
terminado==0.8.1
testpath==0.3.1
tornado==4.5.3
traitlets==4.3.2
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.1.4
