<dl logr='p_1_33416242837515_24319259084094_0_1_ses^composite^0'                             _pos="1"  sortid='503338211'>
	<dd class="w46"><i infoid='24319259084094'></i></dd>
    <dt> <a href='http://bj.58.com/chaoshishangye/24319259084094x.shtml' urlparams='psid=164836665190074319829635832&entinfo=24319259084094_0' target="_blank" class="t"   _t='common'>数据处理员</a>
	    <span class="hoverinfobox" style="display: none;">
			 <div id="arrow">
		        <em></em>
		        <span></span>
		    </div>
			<div id="tipsbox" class="tipsbox">
				<div class="xboxcontent" class="tipsbox">
					<div class="titbar"><h2>山东正元数字城市建设有限公司麻城项目</h2></div>
					<ul class="zhanshi clearfix">
						<li class="mar30"><span>招聘职位：</span>全职招聘</li>
						<li><span>招聘人数：</span>若干				</li>
						<li class="mar30"> 
							<span>工作经验：</span>不限				</li>
						<li>
							<span>学历要求：</span>不限
						</li>
						<!-- 
						<li class="mar30">
							<span>工作地点：</span>北京
						 </li> -->
						 <li class="mar30">
							<span>转正工资：</span>1000-2000元
						 </li>
		            </ul>
					<p>
						有积极的态度和人际关系，能吃苦耐劳，文化水平高中以上。
		            </p>
		        </div>
		    </div>
		</span>
		<span tag="bbbindcpc" url='http://bj.58.com/chaoshishangye/24319259084094x.shtml' name="zaixian_33416242837515" onClick="clickLog('from=zp_pclist_bangbangclick&entityId=24319259084094&entityType=0&psid=164836665190074319829635832');" ></span>
	</dt>
    <dd class="w271">
	    <a href='http://qy.58.com/33416242837515/' urlparams='psid=164836665190074319829635832&entinfo=24319259084094_0' target="_blank" class="fl" title="山东正元数字城市建设有限公司麻城项目">山东正元数字城市建设有限公司麻...</a>
        <dd class="w96">北京</dd>
        <dd class="w68">  12-13  </dd>
  		</dl>